In [1]:
import numpy as np 
import pandas as pd

In [2]:
df=pd.read_csv("market_basket.csv")
df.head(3)

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.shape

(7500, 20)

In [4]:
# # Data Processing
# transactions = []
# for i in range(0,7501):
#     transactions.append([str(df.values[i,j]) for j in range(0,20)])

# #Training the dataset
# from apyori import apriori
# rules = apriori(transactions ,
#     min_support = 0.003 ,
#     min_confidence = 0.2,
#     min_left = 3,
#     min_length = 2)

# #Visualizing the results
# a = list(rules)
# result = [list(a[i][0]) for i in range(0, len(a))]

In [5]:
# a

In [ ]:
transactions = []
for i in range(0, 7501):
    transactions.append([str(df.values[i, j]) for j in range(0, 20)])

In [ ]:
from apyori import apriori
rules = apriori(transactions,
                min_support= 0.003,
                min_confidence= 0.2,
                min_lift= 3,
                min_length= 2)

In [ ]:
a=list(rules)
result = [list(a[i][0]) for i in range(0, len(a))]

In [ ]:
a

In [ ]:
# Quest1. In which scenerio which type of machine learning models you will use and why 
# Quest2. what do you mean by inbalanced dataset 
# Quest3. What are the different techniques you can apply for transform your inbalanced dataset to balanced dataset 
# Quest4. what do you mean by performance matrix in term of regression and classification