In [77]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Lasso, Ridge, ElasticNet
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error

In [78]:
df=pd.read_csv("insurance.csv")
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [79]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [80]:
le = LabelEncoder()
df['smoker'] = le.fit_transform(df['smoker'])
df['region'] = le.fit_transform(df['region'])
df.head(4)

   age     sex     bmi  children  smoker  region      charges
0   19  female  27.900         0       1       3  16884.92400
1   18    male  33.770         1       0       2   1725.55230
2   28    male  33.000         3       0       2   4449.46200
3   33    male  22.705         0       0       1  21984.47061

In [84]:
x= df.drop(['charges', 'sex',], axis=1)  
y = df['charges']

# x = df.drop(columns=(['charges'],['sex']))
# y = df['charges']

In [85]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [90]:
lasso = Lasso(alpha=1.0)
lasso.fit(x_train, y_train)
y_pred= lasso.predict(x_test)
mse=mean_squared_error(y_test, y_pred)
print(mse)

33643514.82544712

In [91]:
ridge = Ridge(alpha=1.0)
ridge.fit(x_train, y_train)
y_pred= ridge.predict(x_test)
mse=mean_squared_error(y_test, y_pred)
print(mse)

33678999.987072065

In [92]:
elastic = ElasticNet(alpha=1.0, l1_ratio=0.5)
elastic.fit(x_train, y_train)
y_pred= elastic.predict(x_test)
mse=mean_squared_error(y_test, y_pred)
print(mse)

90225268.14195587

In [93]:
print("Lasso Test Score:", lasso_score)
print("Ridge Test Score:", ridge_score)
print("Elastic Net Test Score:", elastic_score)

Lasso Test Score: 0.783292819837115
Ridge Test Score: 0.7830642501007702
Elastic Net Test Score: 0.41883410398920495