In [1]:
import numpy as np 
import pandas as pd

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
df=pd.read_csv("covid_toy.csv")
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
from sklearn.impute import SimpleImputer

In [7]:
si = SimpleImputer(strategy = 'mean')

In [8]:
df['fever'] = si.fit_transform(df[['fever']])

In [9]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [10]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [11]:
# Encoding --- > transform data into Numerical format.
# gender -- > M , F ---- > 0, 1

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
lb = LabelEncoder()

In [14]:
df['gender'] = lb.fit_transform(df['gender'])
df['cough'] = lb.fit_transform(df['cough'])
df['city']= lb.fit_transform(df['city'])
df['has_covid'] = lb.fit_transform(df['has_covid'])

In [15]:
df.head(3)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0

In [17]:
x = df.drop(columns = ['has_covid'])
y = df['has_covid']

In [18]:
from sklearn.model_selection import train_test_split

In [19]:

x_train, x_test, y_train , y_test = train_test_split(x,y,test_size=0.2,
random_state=42)

In [20]:
np.round(x_train.describe(),2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.41  100.98   0.40   1.30
std    24.47    0.50    1.93   0.49   1.12
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    0.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [21]:
from sklearn.preprocessing import StandardScaler

In [22]:
sc= StandardScaler()

In [23]:
x_train_sc = sc.fit_transform(x_train) ## fit means Leran the parameters and
# transform means apply on that data .

In [24]:
np.round(x_train_sc.describe(), 2)

AttributeError: 'numpy.ndarray' object has no attribute 'describe'

In [25]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [26]:

np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean   -0.00    0.00  -0.00  -0.00  -0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.56   -0.84  -1.56  -0.82  -1.17
25%    -0.94   -0.84  -0.51  -0.82  -1.17
50%    -0.04   -0.84   0.01  -0.82  -0.27
75%     0.91    1.19   0.53   1.22   0.63
max     1.69    1.19   1.57   1.22   1.53

# Normalization

In [66]:
# normalization----> min_val=0,max_val=1

In [28]:
np.round(x_train.describe(),2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.41  100.98   0.40   1.30
std    24.47    0.50    1.93   0.49   1.12
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    0.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [29]:
from sklearn.preprocessing import MinMaxScaler

In [43]:
mn=MinMaxScaler()

In [44]:
x_train_mn=mn.fit_transform(x_train)

In [70]:
x_train_new=pd.DataFrame(x_train_mn, columns=x_train.columns)

In [71]:
np.round(x_train_new.describe(),2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean     0.23    0.65    0.38    0.57    0.27    0.31
std      0.16    0.48    0.49    0.31    0.45    0.19
min      0.00    0.00    0.00    0.00    0.00    0.00
25%      0.11    0.00    0.00    0.33    0.00    0.20
50%      0.22    1.00    0.00    0.67    0.00    0.20
75%      0.30    1.00    1.00    0.67    1.00    0.40
max      1.00    1.00    1.00    1.00    1.00    1.00

In [42]:
df=pd.read_csv("tips.csv")
df.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [47]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [48]:
from sklearn.preprocessing import LabelEncoder

In [53]:
lb=LabelEncoder()

In [54]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['day']= lb.fit_transform(df['day'])
df['time'] = lb.fit_transform(df['time'])

In [55]:
df.head(3)

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3

In [56]:
x = df.drop(columns = ['total_bill'])
y = df['total_bill']

In [57]:
from sklearn.model_selection import train_test_split

In [58]:

x_train, x_test, y_train , y_test = train_test_split(x,y,test_size=0.2,
random_state=42)

In [59]:
np.round(x_train.describe(),2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean     3.09    0.65    0.38    1.71    0.27    2.57
std      1.43    0.48    0.49    0.93    0.45    0.94
min      1.00    0.00    0.00    0.00    0.00    1.00
25%      2.00    0.00    0.00    1.00    0.00    2.00
50%      3.00    1.00    0.00    2.00    0.00    2.00
75%      3.70    1.00    1.00    2.00    1.00    3.00
max     10.00    1.00    1.00    3.00    1.00    6.00

In [60]:
from sklearn.preprocessing import StandardScaler

In [61]:
sc= StandardScaler()

In [62]:
x_train_sc = sc.fit_transform(x_train) ## fit means Learn the parameters and
# transform means apply on that data .

In [63]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [64]:

np.round(x_train_new.describe(),2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean    -0.00   -0.00    0.00    0.00    0.00   -0.00
std      1.00    1.00    1.00    1.00    1.00    1.00
min     -1.46   -1.37   -0.79   -1.84   -0.61   -1.68
25%     -0.76   -1.37   -0.79   -0.76   -0.61   -0.61
50%     -0.06    0.73   -0.79    0.31   -0.61   -0.61
75%      0.43    0.73    1.26    0.31    1.64    0.45
max      4.85    0.73    1.26    1.39    1.64    3.65

In [65]:
from sklearn.preprocessing import MinMaxScaler

In [67]:
mn=MinMaxScaler()

In [68]:
x_train_mn = mn.fit_transform(x_train)

In [69]:
x_train_new=pd.DataFrame(x_train_mn, columns=x_train.columns)

In [72]:
np.round(x_train_new.describe(),2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean     0.23    0.65    0.38    0.57    0.27    0.31
std      0.16    0.48    0.49    0.31    0.45    0.19
min      0.00    0.00    0.00    0.00    0.00    0.00
25%      0.11    0.00    0.00    0.33    0.00    0.20
50%      0.22    1.00    0.00    0.67    0.00    0.20
75%      0.30    1.00    1.00    0.67    1.00    0.40
max      1.00    1.00    1.00    1.00    1.00    1.00