In [1]:
import numpy as np 
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
from sklearn.impute import SimpleImputer

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
from sklearn.preprocessing import MinMaxScaler

# 1.LabelEncoder

In [9]:
df=pd.read_csv("covid_toy.csv")
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [10]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [11]:
si = SimpleImputer()

In [12]:
df['fever'] = si.fit_transform(df[['fever']])

In [14]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [15]:
df_label=df.copy()

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
lb = LabelEncoder()

In [18]:
df_label['gender'] = lb.fit_transform(df_label['gender'])
df_label['cough'] = lb.fit_transform(df_label['cough'])
df_label['city']= lb.fit_transform(df_label['city'])
df_label['has_covid'] = lb.fit_transform(df_label['has_covid'])

# 2.Ordinal Encoder

In [19]:
df_ordinal = df.copy()

In [20]:
# df_ordinal.head(2)

In [21]:
df_ordinal = df_ordinal.drop(columns =['age' , 'fever' ,'city' ])

In [22]:
# df_ordinal.head(2)

In [23]:
from sklearn.preprocessing import OrdinalEncoder

In [24]:
oe = OrdinalEncoder(categories = [['Male','Female'],
['Mild', 'Strong'],['Yes','No']])

In [26]:
df_oe=oe.fit_transform(df_ordinal)

In [27]:
df_new=pd.DataFrame(df_oe,columns=df_ordinal.columns)

In [28]:
df_new.head(2)

   gender  cough  has_covid
0     0.0    0.0        1.0
1     0.0    0.0        0.0

# (3). OneHot Encoder
gender(m,f)---->create a new columns of these sub-categories--->c1(m)
,c2(f)

In [29]:
df_one = df.copy()

In [30]:
# df_one.head(2)

In [31]:
from sklearn.preprocessing import OneHotEncoder

In [32]:
oe = OneHotEncoder(drop='first' , sparse_output=False)

In [34]:
oe_arr=oe.fit_transform(df_one[['gender','cough','city','has_covid' ]])

In [36]:
# oe_arr

# 4.Get_Dummies

In [37]:
df_get = df.copy()

In [38]:
# df_get.head(2)

In [42]:
d=pd.get_dummies(df_get , columns = ['gender','cough','city','has_covid'],
drop_first=True)

In [43]:
d.astype(int)

,age,fever,gender_Male,cough_Strong,city_Delhi,city_Kolkata,city_Mumbai,has_covid_Yes
0,60,103,1,0,0,1,0,0
1,27,100,1,0,1,0,0,1
2,42,101,1,0,1,0,0,0
3,31,98,0,0,0,1,0,0
4,65,101,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
95,12,104,0,0,0,0,0,0
96,51,101,0,1,0,1,0,1
97,20,101,0,0,0,0,0,0
98,5,98,0,1,0,0,1,0
99,10,98,0,1,0,1,0,1

# Summerize

In [44]:
# Data Preprocessing Steps ----- >
# (1). Data dividation ---- >
# x,y
# x_train , x_test , y_train , y_test

# (2). Stadardiation --- > mean = 0 . std = 1 --- > Normal distribution
# (3). MinMaxScaling --- > min = 0 , max = 1 ---- > Data scaled format
# (4). Encoding --- > Transform your categorical data into Numerical data.
# (4a). Label
# (4b) .Ordinal ---- > multi-dimensional data convert and here we can
# set our sub-categories.
# (4c). OneHot --- > column -- > sub-categories --- > New_column
# (4d). get_dummies --- > columns --- > sub-categories --- > New_column+column_name